.loader {
    position: absolute;
    top: calc(45% - 1.25em);
    left: calc(50% - 1.25em);
    width: 2.5em;
    transform-origin: center;
    animation: rotate4 1.3s linear infinite;
}

.loader circle {
    fill: none;
    stroke: #3189fc;
    stroke-width: 3;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}