* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

@keyframes fadeIn1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    from {
        transform: translateX(-50%)translateY(-10px);
    }

    to {
        transform: translateX(-50%)translateY(0);
    }
}

#app {
    display: none;
    padding: 8px;
    height: 100vh;
    height: 100dvh;
    max-width: 1000px;
    margin: 0 auto;
    animation: fadeIn1 0.3s ease-in-out;
}

#app button {
    /* display: block; */
    padding: 3px 0;
    margin-left: 2px;
    margin-bottom: 5px;
    font-size: 17px;
    border: none;
    color: #004dba;
    background: linear-gradient(to right, #93e9ff, #ff55ff) no-repeat;
    background-size: 0 2px;
    background-position: center bottom;
    transition: all 0.3s ease;
}


.note {
    cursor: default;
    padding: 5px 0;
    margin: 5px 0;
    /* border-radius: 10px; */
    width: fit-content;
    background: linear-gradient(to right, #006b95, #99009c) no-repeat;
    background-size: 0 2px;
    background-position: center bottom;
    transition: all 0.3s ease;
}

#app button:hover,
.note:hover {
    background-size: calc(100% - 4px) 2px;
    background-position: center bottom;
}

.noteditor,
.notedisplay {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    padding: 15px 0;
    margin: 0 auto;
    background-color: #fff;
    width: 100vw;
    max-width: 1000px;
    height: 100vh;
    height: 100dvh;
    animation: fadeIn2 0.15s ease;
}

.noteditor .title,
.notedisplay .title {
    display: flex;
    gap: 6px;
    margin-bottom: 10px;
    padding-right: 6px;
}

.noteditor .title input,
.notedisplay .title h3 {
    display: block;
    margin-right: auto;
}

.notedisplay .title h3 {
    color: #004dba;
    min-width: calc(100% - 150px);
    overflow-wrap: break-word;
    padding: 0 5px;
}

.noteditor .title button,
.notedisplay .title button {
    display: block;
    width: 40px;
    min-width: 40px;
    height: 25px;
    border: 1px solid #00000020;
    background-color: #e5f1ff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.noteditor .title button:hover,
.notedisplay .title button:hover {
    background-color: #b9d9ff;
}

.noteditor .title input,
.noteditor textarea {
    padding: 6px 10px;
    outline: none;
    border: 2px solid #002a4550;
    border-radius: 5px;
}

.noteditor textarea {
    resize: none;
    flex: 1;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
}

/* From Uiverse.io by SchawnnahJ */
.loader {
    position: relative;
    display: none;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
}

.loader:before {
    animation: before8 2s infinite;
}

.loader:after {
    animation: after6 2s infinite;
}

@keyframes before8 {
    0% {
        width: 0.5em;
        box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }

    35% {
        width: 2.5em;
        box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }

    70% {
        width: 0.5em;
        box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }

    100% {
        box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
}

@keyframes after6 {
    0% {
        height: 0.5em;
        box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }

    35% {
        height: 2.5em;
        box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }

    70% {
        height: 0.5em;
        box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }

    100% {
        box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
}

.loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
    z-index: 1000;
}