* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

@keyframes fadeIn1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    from {
        transform: translateX(-50%)translateY(-10px);
    }

    to {
        transform: translateX(-50%)translateY(0);
    }
}

#app {
    display: none;
    padding: 8px;
    height: 100vh;
    height: 100dvh;
    max-width: 1000px;
    margin: 0 auto;
    animation: fadeIn1 0.3s ease-in-out;
}

#app button {
    padding: 3px 0;
    margin: 5px;
    margin-left: 0;
    font-size: 17px;
    font-weight: 700;
    border: none;
    color: #004dba;
    background: linear-gradient(to right, #93e9ff, #ff55ff) no-repeat;
    background-size: 0 2px;
    background-position: center bottom;
    transition: all 0.3s ease;
}

#app button:hover {
    background-size: 100% 2px;
    background-position: center bottom;
}

.note {
    cursor: default;
    padding: 3px 5px;
    margin: 5px 0;
    border-radius: 8px;
    width: fit-content;
    transition: all 0.3s ease;
    background: #0059ff10;
}

.note:hover {
    background: #0059ff20;
}

.noteditor,
.notedisplay {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    padding: 12px 0;
    margin: 0 auto;
    background-color: #fff;
    width: 100vw;
    max-width: 1000px;
    height: 100vh;
    height: 100dvh;
    /* animation: fadeIn2 0.15s ease; */
}

.noteditor .title,
.notedisplay .title {
    display: flex;
    gap: 6px;
    margin-bottom: 10px;
    padding-right: 6px;
}

.noteditor .title input,
.notedisplay .title h3 {
    display: block;
    flex: 1;
}

.notedisplay .title h3 {
    color: #004dba;
    min-width: calc(100% - 150px);
    overflow-wrap: break-word;
    padding: 0 5px;
}

.noteditor .title button,
.notedisplay .title button {
    display: block;
    width: 40px;
    min-width: 40px;
    height: 25px;
    border: 1px solid #00000020;
    background-color: #e5f1ff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.noteditor .title button:hover,
.notedisplay .title button:hover {
    background-color: #b9d9ff;
}

.noteditor input,
.noteditor textarea {
    padding: 6px 10px;
    outline: none;
    border: 2px solid #002a4550;
    border-radius: 5px;
    margin: 0 5px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

.noteditor textarea {
    resize: none;
    flex: 1;
    padding: 10px;
    border-radius: 6px;
}

.noteditor input:focus,
.noteditor textarea:focus {
    border: 2px solid #002a45a0;
}